{% extends "layout.html" %}

{% block title %}Cadabra: blog{% endblock %}

{% block head %}{%- endblock %}

{% block main %}

<h1>Cadabra blog</h1>
<p>A random collection of noteworthy things related to computer
  algebra and scientific software development...</p>

<h2 class="blog">Why we should give credit to code creators</h2>
<p class="blog">
  From "Physics World": With software development becoming ever more
  important in physics research, Arfon Smith argues that we need to
  adopt better ways of recognizing those who contribute to this
  largely unrewarded
  activity. <a href="http://physicsworld.com/cws/article/indepth/2017/mar/09/why-we-should-give-credit-to-code-creators">Read
  more</a>.
</p>

{%- endblock %}

