{% extends "layout.html" %}

{% block title %}Cadabra: change log{% endblock %}

{% block head %}{%- endblock %}

{% block main %}

<h1>Change log</h1>
<p>
  The list below gives a human-readable overview of the changes from
  one version to the next. For details of precisely what is changed at
  the code level, consult
  the <a href="http://github.com/kpeeters/cadabra2">github
  repository</a>. Odd patch levels correspond to versions in
  development, even numbered ones are released in packaged form.
</p>
<a name="master"></a>
<h3>github master</h3>
<ul>
  <li>Now builds on Windows.</li>
  <li>Experimental support for modifying the expression tree directly
  from Python (see e.g. <a href="https://cadabra.science/qa/605/fourier-transform">Fourier transforms</a>).</li>
  <li>Now building on OpenBSD.
  <li>Fix for integration by parts ((<a href="https://github.com/kpeeters/cadabra2/issues/71">github/71</a>)</li>
  <li>Fix for incorrect conversion to sympy expressions.</li>
  <li>Optionally build with support for Mathematica scalar
	 backend; see <tt><a href="/manual/map_mma.html">map_mma</a></tt>.</li>
  <li>Many bugfixes for expression display and sympy conversion.</li>
  <li>Now using pybind instead of boost.python, in preparation for
  Windows port, and to enable building against Anaconda.</li>
  <li>Copy/paste of output cells added.</li>
  <li>New <tt><a href="/manual/simplify.html">simplify</a></tt>
	 command, which simplifies the scalar parts of expressions, and can
	 be switched to use either Sympy or Mathematica.</li>
  <li>Fix to treat derivatives with respect to explicit coordinates as
  scalars in <a href="/manual/evaluate.html"><tt>evaluate</tt></a>;
  see <a href="https://cadabra.science/qa/534/curious-behaviour-of-evaluate-algorithm">this
  Q&amp;A post</a>.</li>
  <li>Fix for failure to flag errors
  for <a href="/manual/WeightInherit.html">WeightInherit</a></tt> property.</li>
  <li>Fixed: vary on single-term expressions (<a href="https://github.com/kpeeters/cadabra2/issues/57">github/57</a>)</li>
  <li>Fixed: evaluate with dense factors and no 'values' property on
	 indices (<a href="https://github.com/kpeeters/cadabra2/issues/68">github/68</a>)</li>
</ul>

<a name="2.1.7"></a>
<h3>2.1.7</h3>
<ul>
  <li>Various bugfixes.</li>
</ul>

<a name="2.1.6"></a>
<h3>2.1.6</h3>
<ul>
  <li>Make the wedge product distributable.</li>
  <li>Fix printing of wedge products with sums in factors.</li>
  <li>Fixed printing of index brackets.</li>
  <li>Add RPATH to binaries to avoid having to run <tt>ldconfig</tt>
  after installation.</li>
  <li>Fix for the theming to avoid invisible text with dark
	 themes.</li>
</ul>

<a name="2.1.5"></a>
<h3>2.1.5 (released 6-Aug-2017)</h3>
<ul>
  <li>Introduced <tt><a href="/manual/map_sympy.html">map_sympy</a></tt>
  which can be used to apply Sympy functions to Cadabra expressions,
  acting in-place.</li>
  <li>Fixed: expressions with powers often lack brackets.</li>
</ul>

<a name="2.1.4"></a>
<h3>2.1.4 (released 14-Apr-2017)</h3>
<ul>
  <li>Enable packages to be written using Cadabra notation, instead of
	 only pure Python (still experimental).</li>
  <li>Young tableaux
	 properties <tt><a href="/manual/Tableau.html">Tableau</a></tt> and
	 <tt><a href="/manual/FilledTableau.html">FilledTableau</a></tt>
	 the related
	 algorithm <tt><a href="/manual/lr_tensor.html">lr_tensor</a></tt>
	 are available again.
  <li>Sorting Majorana spinors possible again using <tt><a href="/manual/sort_spinors.html">sort_spinors</a></tt>.</li>
  <li>Extended <tt><a href="/manual/rename_dummies.html">rename_dummies</a></tt>
  with capability to rename indices to different set.</li>
  <li>Make <tt><a href="/manual/vary.html">vary</a></tt> work on powers of expressions with dummy
	 indices.</li>
  <li>Substitution of sub-sums now available
  (e.g.&nbsp;<a href="/manual/substitute.html">substitute</a> of <tt>A+B=C</tt> in <tt>ex:=A+B+C+D</tt>).</li>
  <li>Improved LaTeX export to make printed notebooks look much
	 better.</li>
  <li>Many improvements to the component engine, in particular for
  handling of derivatives and fractions involving tensors.</li>
  <li>Better line spacing for line-wrapped equations.</li>
  <li>Smarter scroll-to-cell behaviour of the notebook.</li>
  <li>Canonicalising expressions with component values for indices now
	 works again.</li>
  <li>The <tt><a href="/manual/unwrap.html">unwrap</a></tt> algorithm
  can now be guided about what to unwrap, and also knows about spinors
  and Dirac bars.</li>
  <li>Experimental support to use Cadabra directly from C++ code, as a
  library (see
  the <tt><a href="https://github.com/kpeeters/cadabra2/tree/master/c%2B%2Blib">c++lib</a></tt>
	 directory).</li>
  <li>Fixes for using a custom <tt>post_process</tt> defined as a function nested inside another.</tt>
  <li>Rudimentary timing logic, try <tt>server.totals();</tt></li>
  <li>Fixed: pasting text in the notebook sometimes double-pastes.
  <li>Fixed: <tt><a href="/manual/split_index.html">split_index</a></tt> does not work properly on left- and
	 right-hand side of equations.</li>
  <li>Fixed: <tt><a href="/manual/sort_product.html">sort_product</a></tt> does not always sort
	 expressions.</li>
  <li>Fixed: <tt><a href="/manual/eliminate_metric.html">eliminate_metric</a></tt> only acts at top level of an
  expression, should have <tt>deep=True</tt> by default.</li>
  <li>Fixed: a bug which would lead to a segfault when using <tt>deep=True</tt>.
</ul>

<a name="2.1.2"></a>
<h3>2.1.2</h3>
<ul>
  <li>Bug fix: Crash on opening of a notebook on Ubuntu 16.04 and possibly
	 others, related to minor differences in gtk versions.</li>
  <li>Bug fix: Installation paths of Debian/Ubuntu/Mint binary
	 packages changed from <tt>/usr/local</tt> to <tt>/usr</tt>.</li>
</ul>

<a name="2.1.1"></a>
<h3>2.1.1</h3>
<ul>
  <li>Bug fix: Compilation error on gtk versions lower than 3.10.0.</li>
</ul>

<a name="2.1.0"></a>
<h3>2.1.0</h3>
<ul>
  <li>First properly versioned release after a series of 2.0.x
	 releases which were meant for testing.</li>
</ul>

{%- endblock %}
