{% extends "layout.html" %}

{% block title %}Cadabra: change log{% endblock %}

{% block head %}{%- endblock %}

{% block main %}

<h1>Change log</h1>
<p>
  The list below gives a human-readable overview of the changes from
  one version to the next. For details of precisely what is changed at
  the code level, consult
  the <a href="http://github.com/kpeeters/cadabra2">github
  repository</a>.
</p>
<a name="master"></a>
<h3>github master</h3>
<ul>
  <li>Enable packages to be written using Cadabra notation, instead of
	 only pure Python.</li>
  <li>Young tableaux
	 properties <tt><a href="/manual/Tableau.html">Tableau</a></tt> and
	 <tt><a href="/manual/FilledTableau.html">FilledTableau</a></tt>
	 the related
	 algorithm <tt><a href="/manual/lr_tensor.html">lr_tensor</a></tt>
	 are available again.
  <li>Sorting Majorana spinors possible again using <tt><a href="/manual/sort_spinors.html">sort_spinors</a></tt>.</li>
  <li>Extended <tt><a href="/manual/rename_dummies.html">rename_dummies</a></tt>
  with capability to rename indices to different set.</li>
  <li>Make <tt><a href="/manual/vary.html">vary</a></tt> work on powers of expressions with dummy
	 indices.</li>
  <li>Substitution of sub-sums now available
  (e.g.&nbsp;<a href="/manual/substitute.html">substitute</a> of <tt>A+B=C</tt> in <tt>ex:=A+B+C+D</tt>).</li>
  <li>Improved LaTeX export to make printed notebooks look much
	 better.</li>
  <li>Many improvements to the component engine, in particular for
  handling of derivatives and fractions involving tensors.</li>
  <li>Better line spacing for line-wrapped equations.</li>
  <li>Experimental support to use Cadabra directly from C++ code, as a
  library (see the <tt><a href="https://github.com/kpeeters/cadabra2/tree/master/c%2B%2Blib">c++lib</a></tt> directory).</li>
  <li>Fixed: pasting text in the notebook sometimes double-pastes.
  <li>Fixed: <tt><a href="/manual/split_index.html">split_index</a></tt> does not work properly on left- and
	 right-hand side of equations.</li>
  <li>Fixed: <tt><a href="/manual/sort_product.html">sort_product</a></tt> does not always sort
	 expressions.</li>
  <li>Fixed: <tt><a href="/manual/eliminate_metric.html">eliminate_metric</a></tt> only acts at top level of an
  expression, should have <tt>deep=True</tt> by default.</li>
  <li>Fixed: a bug which would lead to a segfault when using <tt>deep=True</tt>.
</ul>
<a name="2.1.2"></a>
<h3>2.1.2</h3>
<ul>
  <li>Bug fix: Crash on opening of a notebook on Ubuntu 16.04 and possibly
	 others, related to minor differences in gtk versions.</li>
  <li>Bug fix: Installation paths of Debian/Ubuntu/Mint binary
	 packages changed from <tt>/usr/local</tt> to <tt>/usr</tt>.</li>
</ul>

<a name="2.1.1"></a>
<h3>2.1.1</h3>
<ul>
  <li>Bug fix: Compilation error on gtk versions lower than 3.10.0.</li>
</ul>

<a name="2.1.0"></a>
<h3>2.1.0</h3>
<ul>
  <li>First properly versioned release after a series of 2.0.x
	 releases which were meant for testing.</li>
</ul>

{%- endblock %}
