{% extends "layout.html" %}

{% block title %}Cadabra: download{% endblock %}

{% block head %}{%- endblock %}

{% block main %}

<h1>Download and install</h1>

<h2>Ubuntu/Mint/Debian</h2>
<p>
  If you are on an Ubuntu/Mint/Debian system, you can install a recent
  version of Cadabra by enabling the PPA,
</p>
  <div class="literal">
	 sudo add-apt-repository ppa:kasper-peeters/ppa<br/>
	 sudo apt-get update<br/>
	 sudo apt-get install cadabra2
  </div>
<p>
  You can then start the notebook interface with 
</p>
  <div class="literal">
	 cadabra-gtk
  </div>
<p>
  or pick it from the 'Education' menu.
</p>



<h2>Build from source (Linux or OS X)</h2>
<p>
  Alternatively, you can compile Cadabra from source yourself (not difficult). The source
  is distributed via github, see the
   <a href="https://github.com/kpeeters/cadabra2">kpeeters/cadabra2</a>
  repository for more details, including the pre-requisites.
</p>

{%- endblock %}
