{% extends "layout.html" %}

{% block title %}Cadabra: Help{% endblock %}

{% block head %}{%- endblock %}

{% block main %}
<h1>Help</h1>

<h2>Manual</h2>

	<p>An extensive reference manual of the program, with a description
	of the input language, the algorithms and technical details on how
	to extend it by adding new C++ modules, is available as</p>
	<blockquote class="reference">
	<div class="author">Kasper Peeters</div>
	<div class="title"><a href="cadabra.pdf">Cadabra: reference guide and tutorial</a></div>
	<div class="pubinfo">preprint AEI-2006-038</div>
	<div class="pubinfo">last version: November 2nd, 2012</div>
	</blockquote>

<h2>Forum</h2>

<p>All questions about using Cadabra can be posted on
  the <a href="/qa">Cadabra Q&amp;A</a> forum. The forum accepts LaTeX
  formulas and is fully searchable. 
</p>

<p>The old mailing list has been closed as it does not offer as much
  functionality as the new forum.</p>

{%- endblock %}
