{% extends "layout.html" %}

{% block title %}Cadabra: Help{% endblock %}

{% block head %}{%- endblock %}

{% block main %}
<h1>Help and book</h1>

<h2>Forum</h2>

<p>All questions about using Cadabra can be posted on
  the <a href="/qa">Cadabra Q&amp;A</a> forum. The forum accepts LaTeX
  formulas and is fully searchable. If you feel your question is not
  ready for public consumption, please email me
  at <a href="mailto:info@cadabra.science">info@cadabra.science</a>. 
</p>

<h2>Frequently asked questions</h2>
<p>
  If you have a question, please first consult the list of
  <a href="faq.html">frequently asked questions</a>; yours may be on
  it already.
</p>


<h2>The Cadabra book</h2>
<p>
  This book is the place to go for a detailed specification of how
  Cadabra works. You can browse it online or download the lot as a
  <a href="the_cadabra_book.pdf">single PDF file</a> by clicking on
  the book cover. If you prefer to learn by example, you are better
  off with the <a href="tutorials.html">tutorials</a>. Also don't
  forget to have a look at Leo Brewin's
  excellent <a href="papers.html#brewin">introductory papers on
    Cadabra</a>.
</p>
<p>
  For detailed information on how to write Cadabra algorithms (in
  Python or C++), please
  consult <a href="writing_algorithms.pdf">Writing Algorithms in
    Cadabra2</a> by Dominic Price.
</p>
<p>
  The guide below a translation of the one for Cadabra 1.x, and still
  work-in-progress.
  <div class="splash_image book_cover">
	 <a href="/the_cadabra_book.pdf"><img src="/static/images/the_cadabra_book.png" alt="[cadabra book cover]"/></a>
  </div>
  <ol class="table_of_contents">
	 <li>The input format
		<ol>
		  <li><a href="notebooks/input_format.html">Basics about the input format</a></li>
		  <li><a href="notebooks/ref_printing.html">Printing expressions</li>
		  <li><a href="notebooks/ref_properties.html">Object properties and declaration</a></li>
		  <li><a href="notebooks/ref_indices.html">Indices, dummy indices and automatic index renaming</a></li>
		  <li><a href="notebooks/ref_exponents.html">Exponents, indices and labels</a></li>
		  <li><a href="notebooks/ref_spacing.html">Spacing and brackets</a></li>
		  <li><a href="notebooks/ref_implicit_versus_explicit.html">Implicit versus explicit indices</a></li>
		  <li><a href="notebooks/ref_indexbrackets.html">Index brackets</a></li>
		</ol>
	 </li>
	 <li>Mathematical properties
		<ol>
		  <li><a href="notebooks/ref_derivatives.html">Derivatives and implicit dependence on coordinates</a></li>
		  <li><a href="notebooks/ref_accents.html">Accents</a></li>
		  <li><a href="notebooks/ref_ordering.html">Symbol ordering and commutation properties</a></li>
		  <li>Anti-commuting objects and derivatives</li>
		</ol>
	 <li>Manipulating expressions
		<ol>
		  <li><a href="notebooks/ref_selecting.html">Selecting parts of expressions</a></li>
		  <li>Elementary operations on expressions</li>
		  <li><a href="notebooks/ref_import.html">Using multiple files and notebooks</a></li>
		  <li><a href="notebooks/ref_default_simplification.html">Default simplification</a></li>
		  <li><a href="notebooks/ref_patterns.html">Patterns, conditionals and regular expressions</a></li>
		  <li><a href="notebooks/ref_numerical.html">Numerical evaluation of expressions</a></li>
		  <li><a href="notebooks/ref_dynamical_updates.html">Dynamic cell updates and animations</a></li>
		</ol>
	 </li>
	 <li>Writing your own packages
		<ol>
		  <li><a href="notebooks/ref_programming.html">Programming in Cadabra</a></li>
		  <li><a href="notebooks/ref_kernel.html">The kernel and other internals</li>
		  <li><a href="notebooks/ref_c++_library.html">Using Cadabra directly from C++</a></li>
		</ol>
	 </li>
  </ol>
</p>


<h2>Old reference guide</h2>

	<p>An extensive reference guide of version 1.x of the program, with a description
	of the input language, the algorithms and technical details on how
	to extend it by adding new C++ modules, is available as</p>
	<blockquote class="reference">
	<div class="author">Kasper Peeters</div>
	<div class="title"><a href="/static/pdf/cadabra.pdf">Cadabra: reference guide and tutorial</a></div>
	<div class="pubinfo">preprint AEI-2006-038</div>
	<div class="pubinfo">last version: November 2nd, 2012</div>
	</blockquote>
    <p>
    Go here if the new 2.x reference manual above does not yet have
	  the information you need.</p>

{%- endblock %}
