{% extends "layout.html" %}

{% block title %}Cadabra: License{% endblock %}

{% block head %}{%- endblock %}

{% block main %}
<h1>License</h1>
<h2>Show your support</h2>
<p>
  If you use Cadabra or even just play with it, I would like to hear
  about it. Please register using the notebook interface, or send me
  an email so that I can get an idea of who is interested in this
  project. And remember:</p>
<p class="quote">
  The "rule of 3": It takes 1 unit of work to get something for
  yourself. It takes 3x1 units of work to make it so your office
  neighbor can use it. It takes 3x3x1 units of work so you can use it
  "in the department" and in courses. It takes 3x3x3x1 units of work to
  give it to the world for free without support. It takes 3x3x3x3x1
  units of work to provide it to the world and support it.
</p>
<p>So if you use Cadabra in your own work,
  please cite the papers "<em>Introducing Cadabra: a symbolic
	 computer algebra system for field-theory problems</em>" and
  "<em>A field-theory motivated approach to symbolic computer
	 algebra</em>" (see <a
								  href="/papers.html">papers</a> for publication details)
  to keep the bean counters happy.
</p>
<h2>Legal stuff</h2>
<p>Cadabra is available under the conditions of the 
  <a
	  href="http://www.gnu.org/copyleft/gpl.html">GNU General
	 Public License</a> (version 3). 
</p>

{%- endblock %}

