{% extends "layout.html" %}

{% block title %}Cadabra: Tutorials{% endblock %}

{% block head %}{%- endblock %}

{% block main %}
<h1>Cadabra tutorials</h1>
<p>
  The tutorials listed below are meant to illustrate Cadabra concepts
  at the level of simple examples; for research-level applications of
  Cadabra please see the <a href="/papers.html">papers</a> section.
</p>
<p>
  The pages linked below are produced from actual Cadabra
  notebooks. Instead of reading them on-line, you can also download
  the notebooks and play with them inside Cadabra. These notebooks all
  require the new 2.x version of the software and will not work with
  the old version 1.x. If you have a nice notebook that you think
  would help others to learn Cadabra,
  please <a href="mailto:info@cadabra.science">get in touch</a>.
</p>

<h2>Absolute beginners</h2>

<p>
  This notebook explains how to enter expressions, how to do simple
  substitutions on them, how to use wildcards. It also explains how the
  new Python functionality works. If you have never used Cadabra
  before, start here. 
</p>
<div class="view_options">
  <span>Beginners tutorial:</span>
  <a href="notebooks/beginners.html">read online</a>
  <a href="notebooks/beginners.cnb">download notebook</a>
</div>
<p>
  For a bit more advanced material, try one of the following tutorials.
</p>
<div class="view_options">
  <span>Tensor monomials:</span>
  <a href="notebooks/tensor_monomials.html">read online</a>
  <a href="notebooks/tensor_monomials.cnb">download notebook</a>
</div>
<p>
  If you have used old versions of Cadabra but are new to series 2.x,
  give the following notebook a shot.
</p>
<div class="view_options">
  <span>Tutorial for 1.x users:</span>
  <a href="notebooks/for_previous_users.html">read online</a>
  <a href="notebooks/for_previous_users.cnb">download notebook</a>
</div>

<h2>Writing packages for Cadabra</h2>
<p>
  One of the key reasons for the rewrite of Cadabra was to make it
  much easier for users to contribute small bits of functionality. As
  all of its internals are available via Python, it becomes much
  easier to write small add-on packages, just like you can for other
  computer algebra systems. 
</p>
<p>
  A more step-by-step tutorial for writing packages will follow; for
  the time being here are some smaller tutorials describing a number of
  Cadabra programming concepts.
</p>
<div class="view_options">
  <span>Convergence of operations:</span>
  <a href="notebooks/converge.html">read online</a>
  <a href="notebooks/converge.cnb">download notebook</a>
</div>




<h2>Actions, equations of motion, variational derivatives</h2>
<p>
  
</p>
<div class="view_options">
  <span>Fierz transformations:</span>
  <a href="notebooks/fierz.html">read online</a>
  <a href="notebooks/fierz.cnb">download notebook</a>
</div>


<h2>Quantum mechanics, groups and algebras</h2>
<p>
  Dirac gamma matrix algebra is very simple with Cadabra, and it can
  handle them in arbitrary dimensions.
</p>
<div class="view_options">
  <span>Gamma matrix algebra:</span>
  <a href="notebooks/gamma_matrix_algebra.html">read online</a>
  <a href="notebooks/gamma_matrix_algebra.cnb">download notebook</a>
</div>
<p>
  An frequently asked question is how to do commutator algebra with
  Cadabra. The following notebook shows how this works by verifying
  the invariance of the two quadratic Casimirs of the Poincaré
  algebra. It shows how to make good use of <code>post_process</code> to
  simplify expressions automatically.
</p>
<div class="view_options">
  <span>Poincaré algebra Casimirs:</span>
  <a href="notebooks/poincare_algebra.html">read online</a>
  <a href="notebooks/poincare_algebra.cnb">download notebook</a>
</div>
<p>
  Because of fact that you can use natural LaTeX notation and because
  Cadabra understand non-commuting objects, many tedious operator
  algebra computations in quantum mechanics become relatively
  simple. Here is an example from string theory, in which we verify
  that certain states satisfy the quantum string constraints.
</p>
<div class="view_options">
  <span>String states:</span>
  <a href="notebooks/string_states.html">read online</a>
  <a href="notebooks/string_states.cnb">download notebook</a>
</div>

<h2>Abstract general relativity and differential geometry</h2>
<p>
  Cadabra was originally written in order to facilitate computations
  in extensions of general relativity. The following example shows how
  to prove a particular polynomial identity cubic in the Weyl tensor,
  by virtue of its multi-term symmetries.
</p>
<div class="view_options">
  <span>Bianchi identities:</span>
  <a href="notebooks/bianchi_identities.html">read online</a>
  <a href="notebooks/bianchi_identities.cnb">download notebook</a>
</div>
<p>
  You can also do computations with abstract differential forms and
  the exterior derivative, as in the example below.
<div class="view_options">
  <span>Differential forms:</span>
  <a href="notebooks/exterior.html">read online</a>
  <a href="notebooks/exterior.cnb">download notebook</a>
</div>
</p>

<h2>Component computations</h2>
<p>
  From version 2.x you can do abstract as well as component
  computations with Cadabra. The logic is very simple and based on a
  few key ideas rooted in Cadabra's substitution engine. Examples of
  varying difficulty are available below.
</p>
<p>
  The first one is a trivial example of computing the curvature tensor
  and scalar for a 2-sphere. Easy to do by hand, too, of course.
</p>
<div class="view_options">
  <span>Sphere curvature:</span>
  <a href="notebooks/sphere.html">read online</a>
  <a href="notebooks/sphere.cnb">download notebook</a>
</div>
<p>
  The next one computes
  Christoffel symbols and related for the Schwarzschild metric;
  definitely a frequently requested feature...
</p>
<div class="view_options">
  <span>Schwarzschild spacetime:</span>
  <a href="notebooks/schwarzschild.html">read online</a>
  <a href="notebooks/schwarzschild.cnb">download notebook</a>
</div>
<p>
  Somewhat related to component computations is the concept of 
  splitting a vector bundle into two parts, like you do in
  Kaluza-Klein models. The following notebook is also discussed in the
  original Cadabra
  paper <a href="http://arxiv.org/abs/hep-th/0701238">hep-th/0701238</a>.
</p>
<div class="view_options">
  <span>Kaluza-Klein:</span>
  <a href="notebooks/kaluza_klein.html">read online</a>
  <a href="notebooks/kaluza_klein.cnb">download notebook</a>
</div>

<h2>Plotting</h2>

<p>
  Cadabra's notebook now displays graphics from a variety of Python
  sources; see the notebook below for some basic examples.
</p>
<div class="view_options">
  <span>Plotting tutorial:</span>
  <a href="notebooks/plotting.html">read online</a>
  <a href="notebooks/plotting.cnb">download notebook</a>
</div>

<h2>SymPy users</h2>
<p>
  Cadabra relies on <a href="http://www.sympy.org">SymPy</a> for all
  scalar computer algebra, that is, for all algebra on expressions
  which do not involve indices. Here is a simple notebook to
  illustrate the basic concepts. This may also be a useful read if you
  want to use the Cadabra notebook interface just to work with Sympy.
</p>
<div class="view_options">
  <span>SymPy inside Cadabra:</span>
  <a href="notebooks/scalar_manipulations.html">read online</a>
  <a href="notebooks/scalar_manipulations.cnb">download notebook</a>
</div>


<h2>Using Cadabra from IPython/Jupyter</h2>

<p>
  NOTE: there is now an experimental Jupyter kernel for Cadabra; you
  can build it by following the instructions in
  the <code>JUPYTER.rst</code> file in the source distribution. This
  kernel supports Cadabra's language, so it is much easier to use than
  than the Python interface described below.
</p>
<p>
  Because most Cadabra functionality is now accessible as a Python
  module, you can easily use Cadabra
  from <a href="http://jupyter.org">IPython/Jupyter</a> notebooks with
  a Python kernel. This notebook shows some of the absolute
  basics. Note that this is different from using IPython/Jupyter
  notebooks inside the Cadabra GUI.
</p>
<div class="view_options">
  <span>Cadabra inside Jupyter:</span>
  <a href="static/cadabra_in_ipython.nb.html">read online</a>
  <a href="static/cadabra_in_ipython.nb">download notebook</a>
</div>

{%- endblock %}

