{% extends "layout.html" %}

{% block title %}Cadabra: Version 1.x{% endblock %}

{% block head %}{%- endblock %}

{% block main %}

<h1>Upgrading from the old Cadabra 1.x series</h1>

<p>
This new web site is about the new Cadabra 2.x series, which is a
rewrite and extension of the old 1.x series which first saw the light
in 2007. Many things have changed and improved. This page tells you
what you need to know about the differences.
</p>

<h2>Distribution</h2>

<p>
Version 1.x is available in many Linux distributions and on MacPorts,
but will eventually disappear from there as it takes too much time to
keep that all up-to-date. Because of the rapid changes in 2.x, it is
at the moment not yet available in many distributions. Instead, get it
directly from this web site's <a href="/download.html">download
page</a>, in the form of various packages for Linux distributions. On
Mac OS X you need to build from source, but this is a fairly painless
procedure thanks to the magic of Homebrew.
</p>

<h2>Usage</h2>
<p>more to come</p>

{%- endblock %}
