html {
	 height: 100%;
}
body {
	 font-family: "Lato";
	 font-weight: 300;
	 height: 100%;
}
hr {
    border: 0;
    height: 1px;
    background: #ccc;
	 margin-top: 20px;
	 margin-bottom: 20px;
}
hr#below_logo {
	 margin-left: 40px;
	 margin-right: 40px;
	 margin-top: 0px;
	 margin-bottom: 0px;
}
div#logobar {
	 margin-left: 40px;
	 margin-right: 40px;
	 padding-bottom: 20px;
}
div#logobar #cadabra {
	 color: green;
	 font: 400 60px/1.3 "Bree Serif";
	 font-size: 48px;
}
div#logobar #subtext {
	 font-family: "Bree Serif";
	 font-size: 14px;
	 font-weight: 300;
	 padding-left: 5px;
}
div#logobar #author {
	 float: right;
	 margin-top: 20px;
	 font: 400 14px "Bree Serif";
}
div#menubar {
	 margin-left: 40px;
	 margin-top: 30px;
	 float: left;
}
div#menubar ul {
	 list-style-type: none;
}
div#menubar ul li {
	 cursor: pointer;
	 margin-bottom: 5px;
}
div#menubar ul li:hover {
	 background: yellow;
}
div#main {
	 margin-top: 20px;
	 margin-left: 20px;
	 width: 60%;
	 float: left;
}
div#main p {
	 margin-bottom: 20px;
}
h1 {
	 margin-top: 0px;
	 font: 400 60px/1.3 "Bree Serif";
	 color: green;
	 font-size: 24px;
}
h1 span.date {
	 margin-top: 10px;
	 float: right;
	 font-size: 10px;
	 font-family: sans;
	 font-weight: normal;
}


div.icon_background {
	 position: relative;
	 width: 130px;
	 height: 40px;
/* 	 background: #D56203;/* #36a750;  */
	 background: green;
	 cursor: pointer;
	 margin-bottom: 10px;
}
div.icon_background path {
/* 	 fill: #fa6; */
	 fill: #cfc;
	 transition-duration: 0.5s;  
}	 
div.icon_background img {
	 transition-duration: 0.5s;  
	 height: 70%;
	 margin-left: 3px;
	 margin-top: 3px;
	 opacity: 0.6;
	 outline: 1px solid transparent;
}
div.icon_background svg {
	 transition-duration: 0.5s;  
	 height: 80%;
}
div.icon_background div.icon_text {
	 position: absolute;
	 bottom: 5px;
	 right: 10px;
	 font-size: 14px;
	 color: white;
	 font-family: "Bree Serif";
	 font-weight: 400;
	 transition-duration: 0.5s;  
}
/* div.icon_background:hover div.icon_text {
	 font-size: 15px;
	 transition-duration: 0.5s;  
} */
div.icon_background:hover {
/* 	 background: #292;*/
	 border-bottom: 2px solid #3a3;
	 height: 38px;
}
div.icon_background:hover img {
	 transition-duration: 0.5s;  
	 opacity: 1.0;
	 height: 85%;
}
div.icon_background:hover svg {
	 transition-duration: 0.5s;  
	 height: 100%;
}
div.icon_background:hover svg path {
	 transition-duration: 0.5s;  
	 fill: white;
}