[Desktop Entry]
Name=Cadabra 2
GenericName=Cadabra computer algebra system
Comment=Computer algebra system for field theory problems
Icon=cadabra2
Type=Application
Categories=Math;Science;Education;
Exec=cadabra-gtk
Terminal=false

