textarea {
    border-style: none;
    border-left: 2px solid blue;
    padding-left: 10px;
    width: 100%;
    resize: none;
    overflow: hidden;
    font-family: monospace;
    color: blue;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.MathJax { 
    text-align: left !important;
    margin-left: 15px !important;
}
