# This is a build which gets triggered on every commit push, to
# ensure that we get some warnings when we push code that does
# not build on Linux.

name: Linux

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

#     - name: Exit if not on devel branch
#       if: github.ref != 'refs/heads/devel'
#       run: exit 1
      
#    - name: setup python
#      uses: actions/setup-python@v4
#      with:
#          python-version: 3.11

    - name: get dependencies
      run:  sudo apt-get update && sudo DEBIAN_FRONTEND=noninteractive apt-get install ninja-build git cmake python3-dev g++ libpcre3 libpcre3-dev libgmp3-dev libgtkmm-3.0-dev libboost-all-dev libgmp-dev libsqlite3-dev uuid-dev texlive-base libmpfr-dev libmpc-dev && python3 --version && which python3 && python3 -m pip install --upgrade pip && python3 -m pip install wheel && python3 -m pip install sympy gmpy2 numpy

    - name: configure
      run:  mkdir build && cd build && cmake -G Ninja -DENABLE_MATHEMATICA=OFF ..
      
    - name: build
      run:  cd build && cmake --build
      
    - name: test
      run:  cd build && ctest ARGS="-V"
