#head {
	background: url(images/bg4.jpg) no-repeat;
	height:11em;
	border-bottom: solid; 
	border-width: 2px; 
	border-color: #209020;
	padding: 0;
	margin: -13px 0 0 0;
}

body {
	 font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

tt {
   font-family: fixed;
}

.hackers {
   font-size: smaller;
}

h1.intro {
	position: absolute;
	margin-left: 43px;
	margin-top: 0px;
	padding-top: 15px; 
	font-size: 40pt;
	color: #50A050;
	background-color: transparent;
	}

h1.shadow {
	position: absolute;
	margin-left: 45px;
	margin-top: 2px;
	padding-top: 15px; 
	font-size: 40pt;
	color: black;
	background-color: transparent;
	}

h2.navbar {
	color: black;
	border-bottom: 2px solid;
	border-color: #209020;
}

h2.intro {
	padding-top: 11ex; 
	margin-left: 45px;
	font-size: 10pt;
	font-style: italic;
	font-weight: 100;
	}

h3.intro {
	margin-left: 45px;
	font-size: 11pt;
	font-style: normal;
	}

p.h4 {
   font-style: italic;
}

p.literal {
   background: #f0f0f0;
   border-style: dashed;
	border-width: 1px;
}

/* The three columns: navigation, content, ads */

#navbar { 
	 position: absolute;
	 width: 200px;
	 left: 0;
	 margin: 0;
  	 padding: 0;
	 margin-top: 3ex;
	 text-align: left;
    font-size: smaller;
}	

#content {
	 position: absolute;
	 left: 200px;
	 right: 200px;
	 top: 10em;
	 margin: 0;
	 padding: 0;
}

#adbar {
	 position: absolute;
	 width: 120px;
	 right: 50px;
	 margin: 0;
	 padding: 0;
	 margin-top: 2ex;
}

#footer {
	 left: 0;
	 font-size: smaller;
	 text-align: left;
	 padding-top: 20px;
	 padding-left: 20px;
	 margin-top: 0;
}


/* Images and other decoration */

#news {
   text-align: right;
   font-size: smaller;
}

img {
   border: 0px;
}

img:hover {
   color: white;
   background-color: white;
}

img.middle {
   vertical-align: middle;
	margin-right: .5em;
}

#navbar ul {
	 margin: 0;
	 padding: 0 20px 0 20px;
	 margin-bottom: 1em;
}

#navbar li {	
	display: block;
	padding: 0em;
	margin-bottom: 1ex;
	padding: .5ex;
}

li#current {
	background-color: #ccc;
}

a {
  color: #209020;
  background-color: transparent;	
  text-decoration: none;
  }

a:hover {
  color: #209020;
  background-color: #e0e0e0;
  }

#content h2 {
	 padding-top: 1.2ex;
	 border-bottom: 2px solid;
	 border-color: #209020;
}

#content h3 {
	padding-top: 1.5ex;
	padding-bottom: 0ex;
	margin-bottom: -.5ex;
}

table.downloads {
	margin-left: 40pt;
	padding: .2em;
}

.literal {
	margin-left: 40pt;
	padding: .2em;
}

.downloads td {
   padding-left: .5em;
   padding-right: .5em;
}

p {
  margin-left: 20pt;
}

p.quote {
   font-style: italic;
   font-size: smaller;
   margin: 2ex;
   margin-left: 40pt;
}

p.small {
   font-size: smaller;
}

dl {
  margin-left: 20pt;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1ex;
}

dd em {
  display: block;
  margin-top: 1ex;
}

div.title {
  font-style: italic;
}