#head {
//	background: url(images/youngtab.png) no-repeat;
	background-position: right; 	
	height:11em;
	border-bottom: solid; 
	border-width: 2px; 
	border-color: #209020;
	padding: 0;
   width: 90%;
	margin: -11px 0 0 5%;
}

h1.intro {
	position: absolute;
	margin-left: 0;
	margin-top: 0px;
	padding-top: 35px; 
	font-size: 25pt;
	font-family: sans;
	color: #50A050;
	background-color: transparent;
	}

h1.shadow {
	position: absolute;
	margin-left: 1px;
	margin-top: 1px;
	padding-top: 35px; 
	font-size: 25pt;
	font-family: sans;
	color: black;
	background-color: transparent;
	}

h2.navbar {
	font-family: sans;
	color: black;
	border-bottom: 2px solid;
	border-color: #209020;
}

h2.intro {
	padding-top: 13ex; 
	margin-left: 2px;
	font-size: 10pt;
	font-style: italic;
	font-weight: 100;
	}

h3.intro {
	margin-left: 2px;
	font-size: 11pt;
	font-style: normal;
	}

p.h4 {
   font-style: italic;
}

#content {
	background: white;
	position:absolute;
	width: 70%;
	top: 11.5em;
	left: 45px;
}

#secondary_content {
	position:absolute;
	top: 13.5em;
	right: 35px;
  	background: white;
	text-align: left;
  	padding: 0px;
	line-height: 150%;
}	

#footer {
	right: 35px;
	font-size: smaller;
	text-align: right;
	padding-top: 0;
	margin-top: 0;
}

#news {
   text-align: right;
   font-size: smaller;
}

img.middle {
   vertical-align: middle;
	margin-right: .5em;
}

.navbar ul {
	padding: 0;
	margin-bottom: 1em;
}

.navbar li {	
	display: block;
	padding: 0em;
}

li#current {
	background-color: #ccc;
}

body{
	margin: 0;
	padding: 0;
}

a {
  color: #209020;
  background-color: transparent;	
  text-decoration: none;
  }

a:hover {
  color: #209020;
  background-color: #e0e0e0;
  }

#content h2 {
	padding-top: 1.2ex;
  border-bottom: 2px solid;
  border-color: #209020;
}

#content h3 {
	padding-top: 1.5ex;
	padding-bottom: 0ex;
	margin-bottom: -.5ex;
}

table.downloads {
	margin-left: 4em;
	padding: .2em;
}

.downloads td {
   padding-left: .5em;
   padding-right: .5em;
}
